.content img{
    width: 50px;
    border: 1px solid darkgray;
    border-radius: 50px;
    margin: 10px;
}
.content{
    width: 300px;
    border: 1px solid darkgray;
    border-radius: 50px;
    margin: 10px;
}