.content img{
    width: 50px;
    border: 1px solid darkgray;
    border-radius: 50px;
    margin: 10px;
    background-color: blue;

}
.content{
    background-color: #CCC6FF;
    width: 300px;
    border: 1px solid darkgray;
    border-radius: 50px;
    margin: 5px;

}
.content span{
    position: relative;
    bottom: 30px;
}
