.App {
    margin: 0 auto; /*выравнивание по середине*/
    width: 1200px;
    display: grid;
    grid-template-areas:
        "header header"
        "navbar content";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
}
.App-content{
    grid-area: content;
    background-color: ghostwhite;
    padding: 10px;
}


